/*body {
  background-color: black;
  color: white;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}*/



#placeDisplay {
  margin-top: 50px;
  cursor: pointer;
    text-decoration: underline;
}
#locationInfo {
  margin-top: 50px;
}
.locationCat {
  display: none;
}
